{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Criar perfil | {% endblock %}

{% block conteudo %}

<div class="row">

    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você já fez cadastro, basta entrar com seu usuário e senha abaixo:</p>

        <form class="form-signin" method="POST" action="{% url 'perfil:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="InputUsuario1">Usuário</label>
                <input type="text" name='username' class="form-control" id="InputUsuario1"
                    aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Senha:</label>
                <input name='password' type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Entrar</button>
        </form>


    </div>
    {% endif %}

    <div class="col-lg mt-3">

        {% block titulocadastro %}
        <h4>Cadastro</h4>
        <p>
            Caso ainda não tenha cadastro, utilize o formulário a seguir para se
            cadastrar
        </p>
        {% endblock %}

        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}

            <div class="row">
                <div class="col">
                    <button type="submit" class='btn btn-outline-primary btn-block btn-lg'>
                        Cadastrar-se
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var returnedSuggestion = ''
    let editor, doc, cursor, line, pos
    document.addEventListener("keydown", (event) => {
    setTimeout(()=>{
        editor = event.target.closest('.CodeMirror');
        doc = editor.CodeMirror.getDoc()
        cursor = doc.getCursor()
        line = doc.getLine(cursor.line)
        pos = {line: cursor.line, ch: line.length}
        if (event.key == "Enter"){
        var query = doc.getRange({ line: Math.max(0,cursor.line-10), ch: 0 }, { line: cursor.line, ch: 0 })
        window.postMessage({source: 'getSuggestion', payload: { data: query } } )
        //displayGrey(query)
        }
        else if (event.key == "ArrowRight"){
        acceptTab(returnedSuggestion)
        }
    }, 0)
    })

    function acceptTab(text){
    if (suggestionDisplayed){
        doc.replaceRange(text, pos)
        suggestionDisplayed = false
    }
    }
    function displayGrey(text){
    var element = document.createElement('span')
    element.innerText = text
    element.style = 'color:grey'
    var lineIndex = pos.line;
    editor.getElementsByClassName('CodeMirror-line')[lineIndex].appendChild(element)
    suggestionDisplayed = true
    }
    window.addEventListener('message', (event)=>{
    if (event.source !== window ) return
    if (event.data.source == 'return'){
        returnedSuggestion = event.data.payload.data
        displayGrey(event.data.payload.data)
    }
    })
</script>

{% endblock %}