{% load static %}
{% load upfilters %}

<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Seu carrinho</span>
        <span class="badge badge-secondary badge-pill">{{ pedido.qtd_total }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for linha in pedido.itempedido_set.all %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ linha.produto }}</h6>
            <small class="text-muted"><img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}"></small>
          </div>
          <small class="text-muted">{{ linha.variacao }}</small>
          <span class="text-muted">
            {% if linha.preco_promocional %}
            {{ linha.preco_promocional|formata_preco }}
            {% else %}
            {{ linha.preco|formata_preco }}
            {% endif %}
        </span>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between bg-light">
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (BRL)</span>
          <strong>{{ pedido.total|formata_preco }}</strong>
        </li>
    </ul>
</div>