<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'parciais/_head.html' %}
    <title>{% block titulo %}{% endblock %}UpHardware!</title>
    <style>
      df-messenger {
        --df-messenger-bot-message: #878fac;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #878fac;
        --df-messenger-user-message: #479b3d;
      }
    </style>
  </head>

  <body>
    {% include 'parciais/_nav.html' %}

    <main class="container mt-4 mb-4">
      {% include 'parciais/_messages.html' %} {% block conteudo %}{% endblock %}
    </main>
    {% include 'parciais/_footer.html' %}

    <df-messenger
      intent="WELCOME"
      chat-title="Levi(Chatbot)"
      agent-id="740b30b0-1255-4257-82ff-0f2847f02921"
      language-code="pt-br"
    ></df-messenger>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1">
    </script>
  </body>
</html>
